.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

.env
a365.generated.config.json
manifest/manifest.zip
manifest/agent-blueprint.metadata.json
agentsplayground.zip
.cache/
*.tgz

.env-tmp
devTools/*.log

*.Zone.Identifier
*.sec.endpointdlp
*:Zone.Identifier
*:sec.endpointdlp