.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

.env
a365.generated.config.json
manifest/manifest.zip
agentsplayground.zip

.env-tmp
devTools/*.log

*.Zone.Identifier
*.sec.endpointdlp
*:Zone.Identifier
*:sec.endpointdlp